body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Colours */

:root{
--border: #F0F0F0;
--nav-link: #989898;
--secondary: #549A9A;
--lightest-grey: #C0C0C0;
}

h5{
  font-size: 16px;
  font-weight:600 ;
}

